@import url(https://db.onlinewebfonts.com/c/57c31cff71eb245ff1877009057369f8?family=Santander+Text+W05+Regular);

span.chatbot-host-bubble {
  font-family: "Santander Text W05 Regular" !important;
}

body {
  margin: 0;
  font-family: "Santander Text W05 Regular" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
